# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

node_modules/
media/
migrations/
logs/
!static/media
.parcel-cache/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class