<footer class="footer footer-dark bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left">
        <p class="mb-0">
          &copy; 2022
          <a href="https://www.creative-tim.com" class="external text-white"
            >Boichenko</a
          >
        </p>
      </div>
      <div class="col-lg-6">
        <nav class="float-lg-right">
          <ul>
            <li>
              <a
                href="https://www.creative-tim.com/presentation"
                class="text-white"
                >About Us</a
              >
            </li>
            <li>
              <a href="http://blog.creative-tim.com" class="text-white">Blog</a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license" class="text-white"
                >License</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
