
    {% extends 'basics.html' %}

    {% block style %}
    <link rel = "stylesheet" href = "{{ url_for('static',filename='css/Delete_Service.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    {% endblock %}
{% block title %}{{ model_name }}{% endblock title %}
{% block main_content %}
    <div class = "intro">
        {% if form %}
            <h1>Посмотреть информацию</h1>
            {{ form.as_p }}
        {%  endif %}

    <div class = "container">
{% endblock main_content %}
