{% extends 'base.html' %} {% block style %}
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
  rel="stylesheet"
/>
{% endblock %} {% block title %}Смена цены{% endblock title %} 
{% block content %}
<div class="intro">
  <h1>Смена цены</h1>
  <div class="container">
    {% if form %}
    <form method="post">
        {% if model %}
            <input type="hidden" name="model" value="{{model}}">
        {% endif %}
      {{form.as_p}}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock content %}
