{% extends "base.html" %} {% load static %} {% block content %}

<!-- ==========Login Section Section Starts Here========== -->
<div class="login-section padding-top padding-bottom">
  <div class="container">
    <div class="account-wrapper">
      <h3 class="title">Вход</h3>

      <form
        method="POST"
        class="account-form"
        action='{% url "tourism:login" %}'
      >
        {% csrf_token %}
        <div class="form-group">{{ form.username }}</div>
        <div class="form-group">{{ form.password }}</div>
        <div class="form-group">
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
          <button class="d-block custom-button"><span>Войти</span></button>
        </div>
      </form>
      <div class="account-bottom">
        <span class="d-block cate pt-10"
          >Нету аккаунта?
          <a href="{% url 'tourism:register' %}">Зарегестрироваться</a></span
        >
      </div>
    </div>
  </div>
</div>
<!-- ==========Login Section Section Ends Here========== -->
{% endblock content %}
