{% extends "base.html" %} {% load static %} {% block content %}

<!-- ==========Login Section Section Starts Here========== -->
<div class="login-section padding-top padding-bottom">
  <div class="container">
    <div class="account-wrapper">
      <h3 class="title">Зарегестрироваться</h3>

      <form
        method="POST"
        class="account-form"
        action='{% url "tourism:register" %}'
      >
        {% csrf_token %}
        {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
        </div>
      </form>
      <div class="account-bottom">
        <span class="d-block cate pt-10"
          >Есть аккаунт? <a href="{% url 'tourism:login' %}">Войти</a></span
        >
      </div>
    </div>
  </div>
</div>
<!-- ==========Login Section Section Ends Here========== -->
{% endblock content %}
